body {

    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div.caracteristicas_heading {
    background: #6D4A70;
    height:92px;
    color: #fff;
    font-size: 26px;
    text-align: left;
    padding:30px 23px;
    font-weight:normal;
}

div.caracteristicas_panel {
    border:none;
    box-shadow:0 1px 5px #000;
    margin-top:180px;
}


.form-control {
    height:46px;
    font-size:18px;
    color:GrayText;
   
}

.input-group {
    margin-top:20px;

}

span.input-group-addon {
    margin-top:20px;
    height:46px;
}

#Boton_Acceso {
    /*background: #6D4A70;*/
    width:100%;
}

div.mantener_session {
    font-size: 13px;
    font-weight:bold;
    margin:18px -25px 2px;
    color:grey;
}

#Check_Session {
    margin-top:20px;
    margin-bottom: 2px

}