.encabezado_panel.panel-heading.fondo {
    text-align: center;
    height: 85px;

}

hr {
    border-color: #ececec;
    margin-top: 0px;
}

h6.pie {
    margin-top: -10px;
}

h2.datos_del_administrador {
    font-size: 12px;
    margin-top: -1px;
}

input#Boton_Buscar_Administrador {
    font-size: 10px;
    margin-top: -7px;
}

input#Buscar_Administrador {
    font-size: 12px;
    padding-left: 4px;
    height: 27px;
    width: 100%;
    margin-top: -7px;
}

.col-xs-6.buscar_administrador {
    margin-top: -1px;
}

table#GridView_Administrador {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
}



/*-------------------------------------------------------------media query 768 --------------------------------------------------------------*/


@media (min-width:768px) {

.encabezado_panel.panel-heading.fondo {
    height: 35px;
}

    hr {
        margin-top: 70px;
    }

    h2.datos_del_administrador {
        font-size: 15px;
    }  

    input#Boton_Buscar_Administrador {
    font-size: 12px;
}


input#Buscar_Administrador {
    font-size: 14px;
}


}

/*-------------------------------------------------------------media query 992 --------------------------------------------------------------*/


@media (min-width:992px) {
.encabezado_panel.panel-heading.fondo {
    height: 40px;
}

    h2.datos_del_administrador {
        font-size: 17px;
    }  

input#Boton_Buscar_Administrador {
    font-size: 14px;
}

input#Buscar_Administrador {
    font-size: 16px;
}

}

/*-------------------------------------------------------------media query 1200 --------------------------------------------------------------*/


@media (min-width:1200px) {

.encabezado_panel.panel-heading.fondo {
    height: 45px;
}

    h2.datos_del_administrador {
        font-size: 17px;
    } 
     
input#Boton_Buscar_Administrador {
    font-size: 16px;
}

input#Buscar_Administrador {
    font-size: 18px;
}

}
