.formulario {
    font-size:10px;
}

.caja_de_texto {
    font-size: 10px;
    height: 25px;
    padding-left: 3px;
}

.datos_del_administrador {
    font-size:20px;
    margin-top:0px
}

.fondo {
    height:40px;
    
}

input#Boton_Actualizar_Supervisor {
   
    height: 25px;
    font-size: 12px;    
    margin-top: -3px;
    padding-top: 3px;
}

.pie_formulario {
    height:44px;
}

h6.pie {
    margin-top: -10px;
}